doctype html
head
  meta(charset='UTF-8')
  title Landing Page
  link(rel='stylesheet' href='/css/landing.css')
header
  .wrapper
  .welcome-text
    h1
      | This Is 
      span Parkville
    a(href='/login') LOG IN
