body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: system-ui;
}

.clearfix {
  clear: both;
}

.logo {
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(128, 128, 128, 0.739);
  overflow: hidden;
  padding-top: 30px;
  transition: ease-in-out 0.3s;
}

.menu {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.logo1 {
  margin: 0px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  display: none;
  cursor: pointer;
}

.menu1 {
  float: left;
  display: none;
}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  display: block;
}
#logout{
  margin-top: 100%;
}

.sidenav a:hover {
  color: #5643ff;
  background-color: white;
}

  .sidenav {

  top: 0;
  right: 25px;
  font-size: 30px;
} 

#main {
  padding: 16px;
  margin-left: 300px;
}

.head {
  padding: 0px 6px;
  border-bottom: 1px solid #d6d6d8b8;
  padding-bottom: 10px;
}

.col-div-6 {
  width: 50%;
  float: left;
  font-weight: bold;
}
 .profile {
  display: inline-block;
  width: 200px;
  float: right;
} 


 .profile p {
  color: black;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 10px;
  font-size: 13.5px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  padding-left: 35px;
  cursor: pointer;
}




.col-div-4-1 {
  width: 33.3%;
  float: left;
}

.box {
  width: 88%;
  height: 130px;
  background-color: #ffffff;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}

.box p {
  color: black;
  font-weight: 500;
  padding-left: 10px;
}

#box1 {
  width: 180%;
}

#box2 {
  margin-left: 102%;
}

#myChart {
  margin-left: 50px;
}



.head-1 {
  font-size: 20px !important;
  margin: 10px 0px;
  color: black;
  font-weight: bold;
}

.head-1 span {
  float: right;
  background-color: #5643ff;
  color: white;
  padding: 3px 10px;
  font-size: 15px;
}

.box-icon {
  font-size: 20px !important;
  margin-top: 35px !important;
  color: #5643ff;
  padding-right: 10px;
  background-color: #efeff5;
  padding: 15px;
  border-radius: 25px;
  position: absolute;
  right: 16px;
  top: -18px;
}

.box-1 {
  width: 88%;
  height: 282px;
  background-color: #ffffff;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 2px 5px 10px #ddd;
  position: relative;
}

.m-box {
  color: black;
  position: relative;
  padding: 0px 12px;
}

.active {
  background-color: #5646ff;
  color: white;
  box-shadow: 4px 3px 7px 3px #3226ad54;
}

.active .no-1 {
  color: #ddd !important;
}

.m-box p {
  display: inline-block;
  margin: 10px 0px;
}

.no {
  position: absolute !important;
  top: 21px;
  right: 15px;
  font-weight: 500;
}

.no-1 {
  font-size: 12px;
  color: black;
}

.act-p {
  font-size: 13px;
  color: black;
}

.act-p .fa {
  color: orange !important;
}

.content-box-1 {
  padding: 0px 10px;
}

.col-div-12 {
  width: 100%;
}

.col-div-4 {
  width: 30%;
  float: left;
}

.content-box {
  padding: 20px;
}

.content-box p {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.box-8 {
  width: 97.5%;
  background-color: #fff;
  height: 330px;

}

.nav {
  font-size: 30px;
  cursor: pointer;
  color: black;
  margin: 11px 0px;
}

.box-8 {
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  color: black;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

#money{
  font-size: xx-large;
  font-weight: bold;
  margin-left: 25%;
  /* margin-top: 80%; */
  text-align: center;
}

.kylie{
  border-radius: 5px;
  background-color: #5646ff;
  border: none;
  margin: 5px;
  width: 20%;
}

.modal-body{
  font-weight: bold;
  color: black;
}

.modal-header{
  font-weight: bold;
  color: black;
}