*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.52)), url(/img/landing5edit.jpg);
    background-size: cover;
    background-position: center;
  }
  .wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
  }
  .wrapper h2{
    position: relative;
    font-size: 22px;
    color:  #4070f4;
  }
  /* this is for space between my heading and form body */
   .wrapper h2::before{
    content: ''; 
   position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px; 
    float: inline-start; 
   } 

  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .input-box{
    height: 45px;
    margin: 15px 0;
  }
  form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
  }
  /* my blue colour when people focus on the field */
  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070f4;
  }

  .input-box.button input{
    color: white;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #0e4bf1;
  }